In [ ]:
pip install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
   host = "localhost",
   user = "root",
   password = ""
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FF99203910>
<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FF99203910>

In [5]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE usttrainingdb")

DatabaseError: 1007 (HY000): Can't create database 'usttrainingdb'; database exists

DatabaseError: 1007 (HY000): Can't create database 'usttrainingdb'; database exists

In [4]:
mydb = mysql.connector.connect(
   host = "localhost",
   user = "root",
   password = ""
)
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASE")
for x in mycursor:
    print(x)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'DATABASE' at line 1

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'DATABASE' at line 1