In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
#keyword
keyword.iskeyword('try')

True

In [4]:
keyword.iskeyword('anu')

False

In [5]:
# identifier
name = 'anu'
my_identifier = name

In [6]:
# this is a comment

In [7]:
#variables
s = 10
print(s)

10

In [8]:
#global variables
a = 10
def fn():
    global a
    a += 10
    print(a)
print(a)
fn()

10
20

In [10]:
#list
my_list = ["csk","rcb","mi"]
print(my_list)

['csk', 'rcb', 'mi']

In [11]:
#length of list
len(my_list)

3

In [13]:
print(len(my_list))

3

In [15]:
lis = ["IND","AUS","ENG"]
lis2 = [1,2,3,5]
lis3 = [True, False]
print(lis,lis2,lis3)
#it will take any data type(string, int, bollean)

['IND', 'AUS', 'ENG'] [1, 2, 3, 5] [True, False]

In [16]:
lis1 = ["IND","AUS","ENG",1,2,3,5,"Male","Female"]
print(lis1)

['IND', 'AUS', 'ENG', 1, 2, 3, 5, 'Male', 'Female']

In [17]:
#tuple 

tup1 = ("IND","AUS","ENG",1,2,3,5,"Male","Female")
print(tup1)

('IND', 'AUS', 'ENG', 1, 2, 3, 5, 'Male', 'Female')

In [18]:
tup2 =("IND","AUS","ENG","IND","AUS","ENG")
print(tup2)

('IND', 'AUS', 'ENG', 'IND', 'AUS', 'ENG')

In [19]:
#length
print(len(tup2))

6

In [20]:
#sets= used to store multiple items in single variable, unordered, unchangeable, unindexed, represent curly braces

set1 = {"IND","AUS","ENG"}
print(set1)

{'ENG', 'IND', 'AUS'}

In [22]:
#no duplicates allowed
set1 = {"IND","AUS","ENG","AUS"}
print(set1)

{'ENG', 'IND', 'AUS'}

In [23]:
#set 

set1 = ("IND","AUS","ENG",1,2,3,5,"Male","Female")
print(set1)

('IND', 'AUS', 'ENG', 1, 2, 3, 5, 'Male', 'Female')

In [ ]:
#dictionary

dict1 = {key:1}