In [ ]:
#STRING

string1 ="{1} {0} {2}".format('welcome','to','ust')
print("npositional order:")
print(string1)

In [ ]:
#convert int to float
a = 10
b = float(a)
print(b)

In [ ]:
#convert float to int
a = 10.55
b = int(a)
print(b)

In [ ]:
#indexing

a = [1,2,3,4,11,5]
a.remove(11)
print(a)

In [ ]:
#using dict from keys to new list
lis1 = ['a','b','c','c','a','c','a']
b = list(dict.fromkeys(lis1))
print(b)

In [ ]:
#RANGE
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
print(mylist[2:5])

In [ ]:
#negative indexing
print(mylist[-1])

In [ ]:
print(mylist[:4])

In [ ]:
print(mylist[2:])

In [ ]:
print(mylist[-4:-1])

In [ ]:
if "CSK" in mylist:
    
    print("CSK is in mylist" )

In [ ]:
if "IND" in mylist:
    
    print("IND is in mylist" )

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist[2] = "IND"
print(mylist)

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist[1:2] = ["IND","ENG"]
print(mylist)

In [ ]:
#INSERT -without replacing any values, at the specified index item adds

mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.insert(2,"IND")
print(mylist)

In [ ]:
#append - adding item to the end of the list

mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.append("IND")
print(mylist)

In [ ]:
mylist1 = ["python","java","PHP"]
mylist2 = ["c","c++","dotnet"]
mylist1.extend(mylist2)
print(mylist1)

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.remove("SRH")
print(mylist)

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.pop(1)
print(mylist)

In [ ]:
#gonna remove last item
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.pop()
print(mylist)

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.clear()
print(mylist)

In [ ]:
print(mylist[2:3])

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
for x in mylist:
    print(x)

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
for x in range(len(mylist)):
    print(mylist[x])

In [ ]:
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
i = 0
while i < len(mylist):
    print(mylist[i])
    i = i+1

In [ ]:
# alphabetical order arranging - SORTING
mylist = ["RCB","MI","CSK","SRH","RR","KKR"]
mylist.sort()
print(mylist)

In [ ]:
numlist = [100,55,65,76,82]
numlist.sort()
print(numlist)

In [ ]:
numlist = [100,55,65,76,82]
numlist.sort(reverse = True)
print(numlist)

In [ ]:
# sorting is case sensitive, caps first and then small letter
alist = ["chennai", "bangalore", "hyderabad", "Trivandrum","Delhi"]
alist.sort()
print(alist)

In [ ]:
alist = ["chennai", "bangalore", "hyderabad", "Trivandrum","Delhi"]
alist.sort(key = str.lower)
print(alist)

In [ ]:
alist = ["chennai", "bangalore", "hyderabad", "Trivandrum","Delhi"]
alist.reverse()
print(alist)

In [ ]:
#copying alist to blist
alist = ["chennai", "bangalore", "hyderabad", "Trivandrum","Delhi"]
blist = list(alist)
print(blist)

In [ ]:
#tuple are ordered, immutable, allow duplicates
mytuple = ("sandeep","umrah","jeffry","anil","ghousiya")
print(mytuple)

In [ ]:
mytuple = ("sandeep","umrah","jeffry","anil","ghousiya")
print(len(mytuple))

In [ ]:
x = ("sandeep","umrah","jeffry","anil","ghousiya")
y = list(x)

print(x)

In [ ]:
#converting to list
print(y)

In [ ]:
#converting tuple again
x = tuple(y)
print(x)

In [ ]:
#SETS - unordered, immutable, not allow duplicates

myset = {"sandeep","umrah","jeffry","anil","ghousiya"}
print(myset)

In [ ]:
myset = {"sandeep","umrah","sandeep","jeffry","anil","ghousiya"}
print(myset)

In [ ]:
#DICTIONARY - key value pairs
#ordered, changeable, doesn't allow duplicates
mydict = {
    "brand":"Maruti",
    "model":"swift",
    "year":1983
}
print(mydict)

In [ ]:
#to give just one value
print(mydict["brand"])

In [ ]:
mydict = {
    "brand":"Maruti",
    "model":"swift",
    "year":1983,
    "year":1985
}
print(mydict)

In [67]:
print(mydict.keys())

dict_keys(['brand', 'model', 'year'])

In [68]:
print(mydict.values())

dict_values(['Maruti', 'swift', 1985])

In [69]:
#update
mydict = {
    "brand":"Maruti",
    "model":"swift",
    "year":1983,
    "year":1985
}
mydict["model"] = "celerio"
print(mydict)

{'brand': 'Maruti', 'model': 'celerio', 'year': 1985}

In [70]:
a = """ghgnhnmksmknjdjnjndjbhdb
bsnjnskmsmkmkxhjbxh
nmkmlmkjshhd"""
print(a)

ghgnhnmksmknjdjnjndjbhdb
bsnjnskmsmkmkxhjbxh
nmkmlmkjshhd

In [72]:
#slice the string

a = "hello, world"
print(a[2:5])

llo

In [73]:
print(a[:5])

hello

In [74]:
print(a[5:])

, world

In [75]:
a = "hello, world"
print(a.upper())

HELLO, WORLD

In [76]:
a = "Hello, World"
print(a.lower())

hello, world

In [77]:
a = "Hello, World"
print(a.replace("H","J"))

Jello, World

In [79]:
a = "Hello, World"
print(a.replace("o","Q"))

HellQ, WQrld

In [80]:
a = "hello"
b = "world"
c = a+b
print(c)

helloworld

In [81]:
list_one = ["a","b","c"]
b = list(dict.fromkeys(list_one))
print(b)

['a', 'b', 'c']

In [82]:
#removing item with specified key name

mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
mydict.pop("model")
print(mydict)

{'brand': 'ford', 'year': '1964'}

In [83]:
#removes last inserteditem
mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
mydict.popitem()
print(mydict)

{'brand': 'ford', 'model': 'mustang'}

In [84]:
#removes item with specified key name
mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
del mydict["model"]
print(mydict)

{'brand': 'ford', 'year': '1964'}

In [85]:
# clear method empties the dictionary
mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
mydict.clear()
print(mydict)

{}

In [86]:
mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
for i in mydict:
    print(i)

brand
model
year

In [87]:
#returns the keys of the dictionary
for i in mydict.keys():
    print(i)

brand
model
year

In [88]:
#loop through both keys and values
for x,y in mydict.items():
    print(x,y)

brand ford
model mustang
year 1964

In [91]:
#access item

mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
x = mydict.get("brand")
print(x)

ford

In [92]:
# add item

mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
mydict["color"] = "red"
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964', 'color': 'red'}

In [94]:
#update
mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
mydict.update()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [127]:
#copy
mydict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
thisdict = mydict.copy()
print(thisdict)

#setdefault - get the value for mentioned item
x = mydict.setdefault("model","mustang")
print(x)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}
mustang

In [126]:
#fromkeys() - Returns a dictionary with specified keys and values (keys are required whereas values are optional)
dict1 = ('key1','key2','key3')
x = dict.fromkeys(dict1)
print(x)

{'key1': None, 'key2': None, 'key3': None}

In [96]:
#SET
myset = {"apple","orange","banana"}
print(myset)

{'apple', 'orange', 'banana'}

In [97]:
#access set item
myset = {"apple","orange","banana"}
print ("banana" in myset)

True

In [98]:
myset = {"apple","orange","banana"}
for i in myset:
    print(i)

orange
banana
apple

In [100]:
myset.add("plum")
print(myset)

{'orange', 'banana', 'apple', 'plum'}

In [103]:
#add set items
set1 = {"apple","banana","orange"}
set2 = {"red","blue","green"}
set1.update(set2)
print(set1)
list1 = ["eng","hindi"]
set1.update(list1)
print(set1)

{'orange', 'apple', 'blue', 'green', 'banana', 'red'}
{'hindi', 'orange', 'apple', 'blue', 'green', 'banana', 'red', 'eng'}

In [106]:
#remove set items
set1 = {"apple","banana","orange","plum"}
set1.remove("orange")
print(set1)
set1.discard("plum")
print(set1)

{'banana', 'apple', 'plum'}
{'banana', 'apple'}

In [107]:
#loop
set1 = {"inky","pinky","ponky"}
for i in set1:
    print(i)

pinky
inky
ponky

In [112]:
#union
set1 = {"inky","pinky","ponky",3}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)
#intersection
set1.intersection_update(set2)
print(set1)
#intersection2
p = set1.intersection(set2)
print(p)
#return elements that are not present in both sets
set1.symmetric_difference_update(set2)
print(set1)

{1, 'pinky', 'inky', 3, 2, 'ponky'}
{3}
{3}
{1, 2}

In [120]:
#two sets have intersection or not
set1 = {"inky","pinky","ponky"}
set2 = {1,2,3,"pinky"}
z = set1.isdisjoint(set2)
print(z)
p = set1.difference(set2)
print(p)

False
{'inky', 'ponky'}

In [121]:
set1 = {"inky","pinky","ponky"}
set2 = {1,2,3,"pinky"}
p = set1.difference(set2)
print(p)

{'inky', 'ponky'}

In [123]:
set1 = {"a","b","c","d","e","f"}
set2 = {"b","c","d"}
y = set2.issubset(set1)
print(y)
z = set1.issuperset(set2)
print(z)

True
True

In [125]:
#TUPLE

#count - number of times a particular value appears
tup = (1,2,3,3,3,4,5,6,6,3,7,9)
t = tup.count(3)
print(t)

#index - search for the first occurance of value 6 and returns its index
u = tup.index(6)
print(u)

4
7